%li
  %strong.new Create new post...
%li.divider


%li{ 'ng-repeat' => 'post in posts', 'data-slug' => '{{post.slug}}', 'separate-posts' => true }
  %strong {{post.title}}

  .post-created
    Created
    %abbr{ title: '{{post.created_at}}' } {{post.created_at_in_words}}
    ago

    %span{ 'ng-if' => 'post.created_at != post.updated_at' }
      &mdash; Updated
      %abbr{ title: '{{post.updated_at}}'} {{post.updated_at_in_words}}
      ago

  .post-status {{post.status}}
