body.editor
  &.contrast-dark
    ::-webkit-input-placeholder
      color: white

    background-color: black

    textarea, input
      background-color: black
      color: white

    div.expanding-area > textarea
      color: white

  textarea, pre
    margin: 0
    padding: 0
    outline: none
    border: none

  textarea, input, pre
    font-family: Lora, serif
    border: none
    outline: none

  input
    font:
      weight: bold
      size: 25px
    width: 100%
    padding-top: 1rem

  form
    width: 800px
    margin: 0 auto

  div.expanding-area
    position: relative

  div.expanding-area > textarea,
  div.expanding-area > pre
    white-space: pre-wrap
    word-wrap: break-word
    font-size: 18px
    line-height: 35px
    padding-top: 1rem
    color: #5B5C5E

  div.expanding-area > textarea
    box-sizing: border-box
    width: 100%
    height: 100px

  div.expanding-area.active > textarea
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    height: 100%
    resize: none

  div.expanding-area > pre
    display: none

  div.expanding-area.active > pre
    display: block
    visibility: hidden

  div.tools
    font-size: 25px
    position: absolute
    cursor: pointer
    right: 5px
    top: 5px
    width: 25px

    div.fullscreen,
    div.contrast
      opacity: .2
      transition: .5s all ease-in-out
      &:hover
        opacity: 1
