body.editor
  &.contrast-dark
    div.bottom
      background-color: black

      div.counts
        color: white

    div.menu
      button
        background-color: white
        color: black
        border: none

      div.btn-group
        &.open
          button
            +box-shadow(none)
            background-color: black
            color: white

    ::-webkit-input-placeholder
      color: white
      opacity: .5

    background-color: black

    textarea, input
      background-color: black
      color: white

    div.expanding-area > textarea
      color: white

  div.bottom
    position: fixed
    bottom: 0
    width: 100%
    background-color: white

    div.counts
      float: right
      text-transform: uppercase
      font:
        size: 14px
        family: Roboto
      color: black
      margin: 0 1em 1em 0

  textarea
    resize: none
    margin: 0
    padding: 0
    outline: none
    border: none
    height: 100%
    width: 100%
    white-space: pre-wrap
    word-wrap: break-word
    font-size: 18px
    line-height: 35px
    padding-top: 1rem
    color: black
    box-sizing: border-box
    overflow: hidden

  textarea, input[type='text']
    font-family: Lora, serif
    border: none
    outline: none
    +box-shadow(none)

  input[type='text']
    font:
      weight: bold
      size: 25px
    width: 100%

  form
    width: 800px
    margin: 1em auto 0 auto

  div.menu
    display: inline
    float: right
    margin-right: 1em

    button
      background-color: black
      color: white
      border: none

    li
      font-family: Roboto
      text-transform: uppercase

    div.btn-group
      &.open
        button
          +box-shadow(none)
          background-color: white
          color: black
          border: 1px solid black
