div#footer
  border-top: 10px solid #EC6D63
  margin: 0 auto
  width: 900px

div#about
  text-align: center

  a
    color: #7ea730
    text-decoration: none

div#links
  text-align: center
  font-size: 40px
  margin-bottom: 20px

  a
    color: #5B5C5E
    transition: all 1s ease-in-out

    &:hover
      color: #EC6D63
