.menu
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-navicon-round

    %ul.dropdown-menu.pull-right
      %li.fullscreen
        = link_to '#' do
          %i.ion-arrow-expand
          Full Screen
      %li.divider
      %li.contrast.contrast-light
        = link_to '#' do
          %i.ion-contrast
          Contrast

%form
  = text_field_tag :title, nil, placeholder: 'Buzzword filled title'
  = text_area_tag :content, nil, placeholder: 'Try to write something interesting'

.bottom
  .counts
    %span.words 0 Words
    %span.characters 0 Characters
