%article
  %header= link_to Redcarpet::Render::SmartyPants.render(post.title).html_safe, read_post_path(post)
  = find_and_preserve Blog::Markdown.new(post.content).render.html_safe

  - if action_name == 'show'
    %p== You should follow me on twitter #{link_to 'here', "https://twitter.com/#{Blog.config.twitter}"}.
