%article
  %header
    %time{ datetime: post.date_time }= post.readable_time
    = link_to Redcarpet::Render::SmartyPants.render(post.title).html_safe, read_post_path(post)

  = find_and_preserve Blog::Markdown.new(post.content).render.html_safe

  - if action_name == 'show'
    - content_for(:title) { post.title }
