body
  background-color: #EC6D63
  font-size: 50%
  margin: 0
  padding: 0

div#login-box
  width: 100%

  div.errors
    display: none
    position: absolute
    background-color: white
    width: 40%
    height: 100px
    font-size: 30px
    text-align: center
    font-family: 'Lato', sans-serif
    top: 3.5em
    left: 0
    right: 0
    margin: auto
    -webkit-transform: rotate(20deg)

  div.logo
    text-align: center
    color: white
    font-family: 'Bebas'
    text-shadow: -1px -1px 0 #c12417

  div.inputs
    margin: 0 auto
    width: 92.4%

  input[type='email'], input[type='password']
    width: 98%
    height: 50px
    box-shadow: -1px -1px 0 #c12417
    margin-bottom: 20px
    padding: 10px
    text-align: center
    color: #c12417

  .sign-in-button
    text-align: center

  input[type='submit']
    font-family: 'Bebas'
    color: white
    text-shadow: -1px -1px 0 #c12417
    background-color: transparent
    border-radius: 20px
    transition: text-shadow .1s ease-in-out

    &:active
      text-shadow: 5px 0px 0 #78c5d6, -5px 0 0 #459ba8, 0px 5px 0 #79c267, 0px -5px 0 #c5d647, -5px 5px 0 #f5d63d, 5px -5px 0 #f28c33, 5px 5px 0 #e868a2, -5px -5px 0 #bf62a6

  input
    margin-bottom: 5px
    font: 20px 'Lato', sans-serif
    background-color: white
    border: none
    outline: none
    border-radius: 5px

.animated
  -webkit-animation-fill-mode: both
  -webkit-animation-duration: 1s

.animated.hinge
  -webkit-animation-duration: 2s

@-webkit-keyframes hinge
  0%
    -webkit-transform: rotate(0)
    -webkit-transform-origin: top left
    -webkit-animation-timing-function: ease-in-out
  20%, 60%
    -webkit-transform: rotate(80deg)
    -webkit-transform-origin: top left
    -webkit-animation-timing-function: ease-in-out
  40%
    -webkit-transform: rotate(60deg)
    -webkit-transform-origin: top left
    -webkit-animation-timing-function: ease-in-out
  60%
    -webkit-transform: translateY(2000px)
  61%
    opacity: 0
  100%
    opacity: 0

.hinge
  -webkit-animation-name: hinge

@-webkit-keyframes flicker
  0%
    color: black
  20%
    color: white
  40%
    color: black
  60%
    color: white
  80%
    color: black
  100%
    color: white
    opacity: 0.5

.flicker
  -webkit-animation-name: flicker
